<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.since.mycampus">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/cug"
        android:label="校园通cug"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".guide.GuideActivity">
        </activity>
        <activity android:name=".offer.OfferActivity">
        </activity>
        <activity android:name=".offer.OfferWebViewActivity">
        </activity>
        <activity android:name=".guide.GuideXuexiaojianjie">
        </activity>
        <activity android:name=".guide.GuideXiaozhangzhici">
        </activity>
        <activity android:name=".guide.GuideDidashijiActivity">
        </activity>
        <activity android:name=".guide.GuideXinshengzhinan">
        </activity>
        <activity android:name=".news.NewsActivity">
        </activity>
        <activity android:name=".news.NewsWebViewActivity">
        </activity>
        <activity android:name=".guide.GuideShijiWebView">
        </activity>
    </application>

</manifest>